
.header1 {
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 20px 0px;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.header2 {
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 10px 0px;
    color: white;
    box-shadow: 0px 0px 10px black;
}

/* iphone 4 */
@media (max-width: 320px){

}/*Fin 320*/

/* especial */ 
@media (min-width: 560px) {
.header {
    height: 120px;
        padding: 20px 0px 10px 0px;
}
}/*Fin 560*/

/* General */
@media (min-width: 768px) {

}/*Fin 768*/

@media (min-width: 992px) {
  
}/*Fin 992*/

@media (min-width: 1200px) {
  
}/*Fin 1200*/